/* 2.0 Fonts */
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: italic;
    font-weight: 300;
    src: font-url('opensanshebrew-lightitalic-webfont.eot');
    src: font-url('opensanshebrew-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('opensanshebrew-lightitalic-webfont.woff') format('woff'),
    font-url('opensanshebrew-lightitalic-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 300;
    src: font-url('opensanshebrew-light-webfont.eot');
    src: font-url('opensanshebrew-light-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('opensanshebrew-light-webfont.woff') format('woff'),
    font-url('opensanshebrew-light-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: italic;
    font-weight: 400;
    src: font-url('opensanshebrew-italic-webfont.eot');
    src: font-url('opensanshebrew-italic-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('opensanshebrew-italic-webfont.woff') format('woff'),
    font-url('opensanshebrew-italic-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 400;
    src: font-url('opensanshebrew-regular-webfont.eot');
    src: font-url('opensanshebrew-regular-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('opensanshebrew-regular-webfont.woff') format('woff'),
    font-url('opensanshebrew-regular-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: italic;
    font-weight: 700;
    src: font-url('opensanshebrew-bolditalic-webfont.eot');
    src: font-url('opensanshebrew-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('opensanshebrew-bolditalic-webfont.woff') format('woff'),
    font-url('opensanshebrew-bolditalic-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 700;
    src: font-url('opensanshebrew-bold-webfont.eot');
    src: font-url('opensanshebrew-bold-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('opensanshebrew-bold-webfont.woff') format('woff'),
    font-url('opensanshebrew-bold-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: italic;
    font-weight: 800;
    src: font-url('opensanshebrew-extrabold-webfont.eot');
    src: font-url('opensanshebrew-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('opensanshebrew-extrabold-webfont.woff') format('woff'),
    font-url('opensanshebrew-extrabold-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 800;
    src: font-url('opensanshebrew-extrabold-webfont.eot');
    src: font-url('opensanshebrew-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('opensanshebrew-extrabold-webfont.woff') format('woff'),
    font-url('opensanshebrew-extrabold-webfont.ttf') format('truetype');
}

/* Icon Fonts */
@font-face {
    font-family: 'icomoon';
    src:font-url('icon-fonts/icomoon.eot?5vi5iq');
    src:font-url('icon-fonts/icomoon.eot?#iefix5vi5iq') format('embedded-opentype'),
    font-url('icon-fonts/icomoon.ttf?5vi5iq') format('truetype'),
    font-url('icon-fonts/icomoon.woff?5vi5iq') format('woff'),
    font-url('icon-fonts/icomoon.svg?5vi5iq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
	content: "\e604";
}
.icon-play:before {
	content: "\e602";
}
.icon-triangle-down:before {
	content: "\e600";
}
.icon-close:before {
	content: "\e603";
}
.icon-menu:before {
	content: "\e601";
}
