/* 3.0 Framework and Overrides
***************************** */

.row {
  &:before, &:after {
    content: "";
    display: table;
  }
}

.clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }
}

.row:after, .clearfix:after {
  clear: both;
}

.row, .clearfix {
  *zoom: 1;
}

.mobile-visiable {
  display: none;
}

@media (max-width: 768px) {
  .mobile-visiable {
    display: block;
  }
  .mobile-hidden {
    display: none;
  }
}
