/***** MODAL PROPERTIES *****/
.modal-dialog {
  width: 80%;
  .modal-content {
    padding: 15px;
    color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
    outline:none;
    iframe {
      border:none;
      padding:0;
      margin:0;
    }
    .close {
      font-size: 80px;
      margin:-20px 0 0 10px;
    }
  }
}

@media only screen and (max-width: 641px) {
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 15px;
    .modal-content {
      padding:0;
      margin: 0;
      background:transparent;
      .modal-body {
        height:100px;
        padding:0;
        margin: 0;
      }
      .close {
        margin:-12px 0 0 0;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .modal-dialog {
    .modal-content {
      .close {
        font-size: 80px;
        margin: 10px -10px -10px 30px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

