<!-- footer -->
        <footer class="footer fly-in animated-content">
            <div class="foot-top">
                <div class="container-small">
                    <div class="foot-top-logo">
                        <a href="#">
                            <img src="images/foot_top_logo.png" alt="logo" />
                        </a>
                    </div>
                    <div class="foot-top-link">
                        <a href="http://www.latet.org.il/" target="_blank">www.latet.org.il</a>
                    </div>
                </div>
            </div>
            <div class="foot-middle section-blue">
                <div class="container-small">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="foot-subscrb-title clearfix">
                                <span>עדיין יש לכם שאלות? טענות, מענות?</span>
                                <img class="mobile-hidden" src="images/foot_middle_icon.png" alt="" />

                            </h5>
                            <form class="foot-subscrb" action="" method="">
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="כתובת המייל שלך"/>
                                </div>
                                <input class="btn" type="submit" value="שלח"/>

                            </form>
                        </div>
                        <div class="col-sm-3 mobile-hidden">
                            <div class="foot-middle-nav">
                                <h5>קישורים</h5>
                                <ul>
                                    <li><a href="/questions_and_answers.html">שאלות ותשובות</a></li>
                                    <li><a href="/ambassadors.html">השגרירים שלנו</a></li>
                                    <li><a href="/about.html">אנחנו במספרים</a></li>
                                    <li><a href="/contacts.html">צור קשר</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="foot-middle-fb">
                                <a href="#" target="_blank">
                                    <span>facebook -</span>
                                    <i class="icon icon-fb"></i>
                                </a>
                            </div>
                            <div class="foot-middle-logo">
                                <a href="http://tross.co/" target="_blank">
                                    <img src="images/tross_logo.png" alt="Tross" />
                                </a>
                                <span>Design by</span>
                            </div>
                            <div class="foot-middle-logo">
                                <a href="http://astrails.com/" target="_blank">
                                    <img src="images/astrails.png" alt="Astrails" />
                                </a>
                                <span>Crafted by</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot-bottom">
                <div class="container-small">
                    <ul class="foot-sponsors clearfix">
                        <li>
                            <a href="http://www.weforum.org/community/global-shapers" target="_blank">
                                <img src="images/sponsor_01.jpg" alt="Global Shapers community" />
                            </a>
                        </li>
                        <li>
                            <a href="http://www.telepay.co.il/" target="_blank">
                                <img src="images/sponsor_02.jpg" alt="Telepay" />
                            </a>
                        </li>
                        <li>
                            <a href="http://astrails.com" target="_blank">
                                <img src="images/astrails_logo.png" alt="Astrails" />
                            </a>
                        </li>
                        <li>
                            <a href="http://tross.co/" target="_blank">
                                <img src="images/sponsor_03.jpg" alt="Tross" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.10bis.co.il/" target="_blank">
                                <img src="images/sponsor_04.jpg" alt="10bis" />
                            </a>
                        </li>
                        <li>
                            <a href="http://www.shenhavlaw.com/" target="_blank">
                                <img src="images/sponsor_05.jpg" alt="Shenhav" />
                            </a>
                        </li>
                        <li>
                            <a href="http://www.latet.org.il" target="_blank">
                                <img src="images/sponsor_06.jpg" alt="Latet" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- /footer -->
