<!-- header -->
<header class="header">
  <div class="header-inner clearfix">
    <div class="head-right clearfix">
      <button id="menu-open" class="menu-toggle mobile-visiable btn-reset"><i class="icon icon-menu"></i></button>
      <h1 class="head-logo">
        <a href="/index.html">
          <img src="images/head-logo.png" alt="logo name" />
        </a>
      </h1>
      <nav class="head-nav mobile-hidden">
        <ul class="clearfix">
          <li><a href="/contacts.html">צור קשר</a></li>
          <li><a href="/about.html">אנחנו במספרים</a></li>
          <li><a href="/ambassadors.html">השגרירים שלנו</a></li>
          <li><a href="/questions_and_answers.html">שאלות ותשובות</a></li>
        </ul>
      </nav>
    </div>
    <!-- /mobile-nav -->
  </div>
</header>
<!-- /header -->
