<!-- header -->
        <header class="header">
            <div class="header-inner clearfix">
                <div class="head-left mobile-hidden">
                    <a href="#" class="head-link"><strong><i class="icon icon-triangle-down">שם</i> </strong> שלום </a>
                </div>
                <div class="head-right clearfix">
                    <button class="menu-toggle mobile-visiable btn-reset"><i class="icon icon-menu"></i></button>
                    <h1 class="head-logo">
                        <a href="#">
                            <img src="images/head-logo.png" alt="logo name" />
                        </a>
                    </h1>
                    <nav class="head-nav mobile-hidden">
                        <ul class="clearfix">
                            <li><a href="/contact-us.html">צור קשר</a></li>
                            <li><a href="/about.html">אנחנו במספרים</a></li>
                            <li><a href="/ambassadors.html">השגרירים שלנו</a></li>
                            <li><a href="/questions_and_answers.html">שאלות ותשובות</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- /header -->
