<!-- participants-section -->
<div class="participants-section">
  <div class="container-small section-space">
    <h3 class="title-blue fly-in animated-content">המשתתפים שלנו מספרים...</h3>

    <div class="participant-block fly-in animated-content">
      <div class="row">
        <div class="col-sm-2 mobile-hidden">
          <div class="participant-img">
            <%= image_tag "participant_01.png", alt: "Mattan Bar" %>
          </div>
        </div>
        <div class="col-sm-10 col-xs-12">
          <div class="participant-info-inner-right participant-info">
            <div class="participant-info-inner">
              <h4>מתן בר <span> - Head of PayPal Consumer Product Center</span></h4>
              <p>"שולחן לשניים זו הדרך הכי כיפית וטעימה לתרום, אני יודע שכל פעם שאני אוכל או מזמין אוכל מישהו אוכל איתי יחד. השקל הבודד הזה מתורגם למנה עבור ילד שצריך אותה. פתאום הארוחות צהריים שלי הרבה יותר טעימות!״.  </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="participant-block fly-in animated-content">
      <div class="row">
        <div class="col-sm-10 col-xs-12">
          <div class="participant-info-inner-left participant-info">
            <div class="participant-info-inner">
              <h4>אדן שוחט<span> - שותף בקרן הון סיכון ״אלף״</span></h4>
              <p>שולחן לשניים בשבילי זה ההזדמנות לחלוק שולחן עם מאות אנשים בשנה בשביל שקל אחד ליום</p>
            </div>
          </div>
        </div>
        <div class="col-sm-2 mobile-hidden">
          <div class="participant-img">
            <%= image_tag "eden_shochat.jpg", alt: "Eden Shochat" %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /participants -->
