---
title: "שולחן לשניים | אודות"
---

        <section class="main">
            <div class="container-main clearfix">
                <aside class="sidebar">
                   <div class="sidebar-img">
                       <img src="images/sidebar_about_img.png" alt=""  />
                   </div>
                    <h2 class="title-blue">אנחנו במספרים
                        <span>זה מה שאחנו עושים עם<br> השקלים שנאספו עד כה</span>
                    </h2>
                    <p>עכשיו השתכנעתם? </p>
                    <div class="sidebar-btn">
                        <input class="btn" type="submit" value="קליק אחד וזהו" />
                    </div>
                </aside>
                <div class="contant">
                    <ul class="row">
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="about-box box">
                                <figure class="about-img box-img">
                                    <img src="images/about_img_03.png" alt="name" />
                                </figure>
                                <figcaption class="about-info box-info">
                                    <p>מסייעים לכ-26,380 ילדים בישראל </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="about-box box">
                                <figure class="about-img box-img">
                                    <img src="images/about_img_02.png" alt="name" />
                                </figure>
                                <figcaption class="about-info box-info">
                                    <p>מחלקים כ-1,600 ארגזי מזון ומעל 40,000 פריטים</p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="about-box box">
                                <figure class="about-img box-img">
                                    <img src="images/about_img_01.png" alt="name" />
                                </figure>
                                <figcaption class="about-info box-info">
                                    <p>תומכים בכ- 10,552 משפחות הסובלות מאי בטחון תזונתי </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="about-box box">
                                <figure class="about-img box-img">
                                    <img src="images/about_img_05.png" alt="name" />
                                </figure>
                                <figcaption class="about-info box-info">
                                    <p>סיוע ותמיכה בפעילותם של 120 עמותות וארגוני מזון מקומיים</p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="about-box box">
                                <figure class="about-img box-img">
                                    <img src="images/about_img_06.png" alt="name" />
                                </figure>
                                <figcaption class="about-info box-info">
                                    <p>פועלים ב-97 ישובים בארץ</p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="about-box box">
                                <figure class="about-img box-img">
                                    <img src="images/about_img_04.png" alt="name" />
                                </figure>
                                <figcaption class="about-info box-info">
                                    <p>חיזוק המודעות הציבורית לבעית אי בטחון תזונתי</p>
                                </figcaption>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
