---
title: "שולחן לשניים | השגרירים שלנו"
---

<section class="main">
  <div class="container-main clearfix">
    <aside class="sidebar">
      <div class="sidebar-img">
        <img src="images/sidebar_ambassadors_img.png" alt="שגריר של שולן לשמנים"  />
      </div>
      <h2 class="title-blue">בואו להיות שגרירים לשתף ולעזור</h2>
        <div class="sidebar-btn text-center">
          <a href="<%= data.generic.settings.signup_link %>" class="btn" target="_blank">קליק אחד וזהו</a>
        </div>
    </aside>
    <div class="contant">
      <ul class="row">
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="ambassador-box">
            <figure class="ambassador-img">
              <img src="images/ambassador_01.png" alt="name" />
            </figure>
            <figcaption class="ambassador-info">
            <h3>נטלי בן דוד</h3>
            <h4>מהנדסת בדיקות מערכת וביצועים, חברת F5</h4>
            <p>"בעיניי להיות שגרירה זה קודם כל להוות דוגמא אישית: להראות לאנשים שאפשר וצריך לתרום לאלו ששפר מזלם - במיוחד אם אלו ילדים.
התוכנית היא מעולה בגלל שקל להצטרף, לא צריך להתאמץ הרבה והתוצאה עצמה היא ענקית ומשנה חיים.
אני מקווה שאנשים ישכילו להבין את זה ויצטרפו בהמוניהם"</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="ambassador-box">
            <figure class="ambassador-img">
              <img src="images/ambassador_02.png" alt="name" />
            </figure>
            <figcaption class="ambassador-info">
            <h3>יובל קשטכר</h3>
            <h4>עובד של unilink חברת השמה להיי טק</h4>
            <p>"נפלה בחלקי הזכות לקחת חלק בפרויקט המגניב הזה.
קל מאוד להתלונן על כמה נורא המצב בארץ, יש להבין ששינוי החברתי מתחיל בנו, מלמטה." </p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="ambassador-box">
            <figure class="ambassador-img">
              <img src="images/ambassador_03.png" alt="name" />
            </figure>
            <figcaption class="ambassador-info">
              <h3>ענבל גילאי</h3>
              <h4> מפתחת תוכנה בחברת קלרנה</h4>
              <p>" הצטרפתי לפרוייקט כי זו דרך קלה ונחמדה לעשות משהו טוב. אהבתי את הרעיון של ״בכל פעם שאתה אוכל, עזור למישהו לאכול איתך״</p>
            </figcaption>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
