---
title: "שולחן לשניים | השגרירים שלנו"
---

        <section class="main">
            <div class="container-main clearfix">
                <aside class="sidebar">
                   <div class="sidebar-img">
                       <img src="images/sidebar_ambassadors_img.png" alt=""  />
                   </div>
                    <h2 class="title-blue">letraset sheets containing</h2>
                    <form class="sidebar-form" action="" method="">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="lorem ipsum" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="simply dummy" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="typesetting" />
                        </div>
                        <div class="sidebar-btn">
                            <input class="btn" type="submit" value="ipsum" />
                        </div>
                    </form>
                    <div class="sidebar-social">
                        <a href="#" target="_blank">
                            <i class="icon icon-fb"></i>
                            <span>fasebook</span>
                        </a>
                    </div>
                </aside>
                <div class="contant">
                    <ul class="row">
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="ambassador-box">
                                <figure class="ambassador-img">
                                    <img src="images/ambassador_01.png" alt="name" />
                                </figure>
                                <figcaption class="ambassador-info">
                                    <h3>Lorem Ipsum</h3>
                                    <h4>Lorem Ipsum has been the industry's</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="ambassador-box">
                                <figure class="ambassador-img">
                                    <img src="images/ambassador_02.png" alt="name" />
                                </figure>
                                <figcaption class="ambassador-info">
                                    <h3>Lorem Ipsum</h3>
                                    <h4>Lorem Ipsum has been the industry's</h4>
                                    <p>It is a long established fact that a reader will be distracted of a page when looking at its layout. </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="ambassador-box">
                                <figure class="ambassador-img">
                                    <img src="images/ambassador_03.png" alt="name" />
                                </figure>
                                <figcaption class="ambassador-info">
                                    <h3>Lorem Ipsum</h3>
                                    <h4>Lorem Ipsum has been the industry's</h4>
                                    <p>It is a long established fact that a  readable content of a page when looking at its layout. </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="ambassador-box">
                                <figure class="ambassador-img">
                                    <img src="images/ambassador_04.png" alt="name" />
                                </figure>
                                <figcaption class="ambassador-info">
                                    <h3>Lorem Ipsum</h3>
                                    <h4>Lorem Ipsum has been the industry's</h4>
                                    <p>It is a long established readable content of a page when looking at  </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="ambassador-box">
                                <figure class="ambassador-img">
                                    <img src="images/ambassador_05.png" alt="name" />
                                </figure>
                                <figcaption class="ambassador-info">
                                    <h3>Lorem Ipsum</h3>
                                    <h4>Lorem Ipsum has been the industry's</h4>
                                    <p>It is a long established fact that a reader will be distracted content of a page when looking at its layout. </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="ambassador-box">
                                <figure class="ambassador-img">
                                    <img src="images/ambassador_06.png" alt="name" />
                                </figure>
                                <figcaption class="ambassador-info">
                                    <h3>Lorem Ipsum</h3>
                                    <h4>Lorem Ipsum has been the industry's</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                </figcaption>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- /main -->
