<!-- main -->
        <section class="main">
            <!-- banner -->
            <div class="banner section-blue">
                <div class="container-small">
                    <h2><span>Lorem</span> Ipsum is simply <br>dummy text of the printing</h2>
                    <a href="#" class="btn">lorem ipsum</a>
                    <div class="banner-media">
                        <div class="banner-media-inner">
                            <button type="button" class="btn-reset btn-play" data-toggle="modal" data-target="#video-modal"><i class="icon icon-play"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /banner -->

            <!-- options -->
            <div class="options">
                <div class="container-small section-space">
                    <h3 class="title-blue fly-in animated-content">Lorem Ipsum is simply</h3>
                    <ul class="row fly-in animated-content">
                        <li class="col-sm-4">
                            <div class="col-box">
                                <figure class="option-img">
                                    <img src="images/img_01.png" alt="" />
                                </figure>
                                <figcaption class="option-caption">
                                    <h4>It has survived not only</h4>
                                    <p> Lorem Ipsum passages <br> and more recently</p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="col-box">
                                <figure class="option-img">
                                    <img src="images/img_02.png" alt="" />
                                </figure>
                                <figcaption class="option-caption">
                                    <h4>It has survived not only</h4>
                                    <p> Lorem Ipsum passages <br> and more recently</p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="col-box">
                                <figure class="option-img">
                                    <img src="images/img_03.png" alt="" />
                                </figure>
                                <figcaption class="option-caption">
                                    <h4>It has survived not only</h4>
                                    <p> Lorem Ipsum passages <br> and more recently</p>
                                </figcaption>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /options -->

            <!-- section-separator -->
            <div class="section-separator section-blue fly-in animated-content">
                <div class="container-small">
                    <p>The standard chunk of Lorem Ipsum</p>
                    <a href="#" class="btn">lorem</a>
                </div>
            </div>
            <!-- /section-separator -->

            <!-- participants-section -->
            <div class="participants-section">
                <div class="container-small section-space">
                    <h3 class="title-blue fly-in animated-content">Lorem Ipsum is simply</h3>
                    <div class="participant-block fly-in animated-content">
                        <div class="row">
                            <div class="col-sm-2 mobile-hidden">
                                <div class="participant-img">
                                    <img src="images/participant_01.png" alt="" />
                                </div>
                            </div>
                            <div class="col-sm-10 col-xs-12">
                                <div class="participant-info-inner-right participant-info">
                                    <div class="participant-info-inner">
                                        <h4>Lorem ipsum dolor sit amet <span>consectetur adipiscing</span></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec ornare ligula. Duis orci metus, sollicitudin vel ante non, venenatis
                                            finibus purus. Aenean eget placerat tellus, non consectetur lacus.Sed euismod maximus diam, at tempus lorem auctor in. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="participant-block fly-in animated-content">
                        <div class="row">
                            <div class="col-sm-10 col-xs-12">
                                <div class="participant-info-inner-left participant-info">
                                    <div class="participant-info-inner">
                                        <h4>Lorem ipsum dolor sit amet <span>consectetur adipiscing</span></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec ornare ligula. Duis orci metus, sollicitudin vel ante non, venenatis
                                            finibus purus. Aenean eget placerat tellus, non consectetur lacus.Sed euismod maximus diam, at tempus lorem auctor in. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 mobile-hidden">
                                <div class="participant-img">
                                    <img src="images/participant_02.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="participant-block fly-in animated-content">
                        <div class="row">
                            <div class="col-sm-2 mobile-hidden">
                                <div class="participant-img">
                                    <img src="images/participant_03.png" alt="" />
                                </div>
                            </div>
                            <div class="col-sm-10 col-xs-12">
                                <div class="participant-info-inner-right participant-info">
                                    <div class="participant-info-inner">
                                        <h4>Lorem ipsum dolor sit amet <span>consectetur adipiscing</span></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec ornare ligula. Duis orci metus, sollicitudin vel ante non, venenatis
                                            finibus purus. Aenean eget placerat tellus, non consectetur lacus.Sed euismod maximus diam, at tempus lorem auctor in. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /participants -->

            <!-- section-separator -->
            <div class="section-separator section-blue fly-in animated-content">
                <div class="container-small">
                    <p>The standard chunk of Lorem Ipsum</p>
                    <a href="#" class="btn">lorem</a>
                </div>
            </div>
            <!-- /section-separator -->

            <!-- logos -->
            <div class="logos">
                <div class="container-small section-space">
                    <h3 class="title-blue fly-in animated-content">Lorem Ipsum is simply</h3>
                    <div class="logos-block fly-in animated-content">
                        <ul class="row">
                            <li class="col-sm-4">
                                <div class="logo-box">
                                    <a href="#" target="_blank">
                                        <img src="images/logo_11.png" alt="logo_01" />
                                    </a>
                                </div>
                            </li>
                            <li class="col-sm-4">
                                <div class="logo-box">
                                    <a href="#" target="_blank">
                                        <img src="images/logo_12.png" alt="logo_01" />
                                    </a>
                                </div>
                            </li>
                            <li class="col-sm-4">
                                <div class="logo-box">
                                    <a href="#" target="_blank">
                                        <img src="images/logo_13.png" alt="logo_01" />
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="logos-small-block fly-in animated-content">
                        <li>
                            <div class="logo-small-box">
                                <a href="#" target="_blank">
                                    <img src="images/logo_10.png" alt="logo" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="logo-small-box">
                                <a href="#" target="_blank">
                                    <img src="images/logo_09.png" alt="logo" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="logo-small-box">
                                <a href="#" target="_blank">
                                    <img src="images/logo_08.png" alt="logo" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="logo-small-box">
                                <a href="#" target="_blank">
                                    <img src="images/logo_07.png" alt="logo" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="logo-small-box">
                                <a href="#" target="_blank">
                                    <img src="images/logo_06.png" alt="logo" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="logo-small-box">
                                <a href="#" target="_blank">
                                    <img src="images/logo_05.png" alt="logo" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="logo-small-box">
                                <a href="#" target="_blank">
                                    <img src="images/logo_04.png" alt="logo" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="logo-small-box">
                                <a href="#" target="_blank">
                                    <img src="images/logo_03.png" alt="logo" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="logo-small-box">
                                <a href="#" target="_blank">
                                    <img src="images/logo_02.png" alt="logo" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="logo-small-box">
                                <a href="#" target="_blank">
                                    <img src="images/logo_01.png" alt="logo" />
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /logos -->
        </section>
        <!-- /main -->

        <div class="modal fade" id="video-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/HieorPee6KM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
