<!-- main -->
<section class="main">
  <!-- banner -->
  <div class="banner section-blue">
    <div class="container-small">
      <h2> בכל הזמנת ארוחה עם <span>תן ביס</span><br>תורמים שקל לילד שזקוק לארוחה</h2>
      <a href="#" class="btn">הצטרף עכשיו</a>
      <div class="banner-media">
        <div class="banner-media-inner">
          <button type="button" class="btn-reset btn-play" data-toggle="modal" data-target="#video-modal"><i class="icon icon-play"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /banner -->

  <!-- options -->
  <div class="options">
    <div class="container-small section-space">
      <h3 class="title-blue fly-in animated-content">אז מה בעצם אנחנו עושים?</h3>
      <ul class="row fly-in animated-content">
        <li class="col-sm-4">
          <div class="col-box">
            <figure class="option-img">
              <img src="images/img_01.png" alt="" />
            </figure>
            <figcaption class="option-caption">
            <h4>1. מצטרפים לשולחן לשניים</h4>
            <p> זה לוקח כמה שניות ותמיד אפשר  <br>להתחרט ולבטל</p>
            </figcaption>
          </div>
        </li>
        <li class="col-sm-4">
          <div class="col-box">
            <figure class="option-img">
              <img src="images/img_02.png" alt="" />
            </figure>
            <figcaption class="option-caption">
            <h4>2. תורמים שקל אחד</h4>
            <p> בכל הזמנת ארוחה עם תן ביס. <br> שקל אחד. בלבד.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-sm-4">
          <div class="col-box">
            <figure class="option-img">
              <img src="images/img_03.png" alt="" />
            </figure>
            <figcaption class="option-caption">
            <h4>3. עוזרים לילדים שזקוקים לארוחה.</h4>
            <p> הכסף במלואו הולך ישירות <br> לילדים שזקוקים לו.</p>
            </figcaption>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- /options -->

  <!-- section-separator -->
  <div class="section-separator section-blue fly-in animated-content">
    <div class="container-small">
      <p>נכון שזה למטרה טובה?..</p>
      <a href="#" class="btn">קליק אחד וזהו</a>
    </div>
  </div>
  <!-- /section-separator -->

  <!-- participants-section -->
  <div class="participants-section">
    <div class="container-small section-space">
      <h3 class="title-blue fly-in animated-content">המשתתפים שלנו מספרים...</h3>
      <div class="participant-block fly-in animated-content">
        <div class="row">
          <div class="col-sm-2 mobile-hidden">
            <div class="participant-img">
              <img src="images/participant_01.png" alt="" />
            </div>
          </div>
          <div class="col-sm-10 col-xs-12">
            <div class="participant-info-inner-right participant-info">
              <div class="participant-info-inner">
                <h4>רון גורה <span> - יזם</span></h4>
                <p>"שולחן לשניים זו הדרך הכי כיפית וטעימה לתרום, אני יודע שכל פעם שאני אוכל או מזמין אוכל מישהו אוכל איתי יחד. השקל הבודד הזה מתורגם למנה עבור ילד שצריך אותה. פתאום הארוחות צהריים שלי הרבה יותר טעימות!״.  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="participant-block fly-in animated-content">
        <div class="row">
          <div class="col-sm-10 col-xs-12">
            <div class="participant-info-inner-left participant-info">
              <div class="participant-info-inner">
                <h4>שם <span>תפקיד</span></h4>
                <p>Lorem ipsum </p>
              </div>
            </div>
          </div>
          <div class="col-sm-2 mobile-hidden">
            <div class="participant-img">
              <img src="images/participant_02.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="participant-block fly-in animated-content">
        <div class="row">
          <div class="col-sm-2 mobile-hidden">
            <div class="participant-img">
              <img src="images/participant_03.png" alt="" />
            </div>
          </div>
          <div class="col-sm-10 col-xs-12">
            <div class="participant-info-inner-right participant-info">
              <div class="participant-info-inner">
                <h4>שם <span>תפקיד</span></h4>
                <p>Lorem ipsum </p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- /participants -->

  <!-- section-separator -->
  <div class="section-separator section-blue fly-in animated-content">
    <div class="container-small">
      <p>עכשיו כבר בטוח השתכנעתם!</p>
      <a href="#" class="btn">יאללה תקליקו</a>
    </div>
  </div>
  <!-- /section-separator -->

  <!-- logos -->
  <div class="logos">
    <div class="container-small section-space">
      <h3 class="title-blue fly-in animated-content">החברות שכבר איתנו..</h3>
      <div class="logos-block fly-in animated-content">
        <ul class="row">
          <li class="col-sm-4">
            <div class="logo-box">
              <a href="http://www.steimatzky.co.il/Steimatzky/pages/default.aspx" target="_blank">
                <img src="images/logo_11.png" alt="logo_01" />
              </a>
            </div>
          </li>
          <li class="col-sm-4">
            <div class="logo-box">
              <a href="https://www.elite.co.il/" target="_blank">
                <img src="images/logo_12.png" alt="logo_01" />
              </a>
            </div>
          </li>
          <li class="col-sm-4">
            <div class="logo-box">
              <a href="https://www.tnuva.co.il/" target="_blank">
                <img src="images/logo_13.png" alt="logo_01" />
              </a>
            </div>
          </li>
        </ul>
      </div>
      <ul class="logos-small-block fly-in animated-content">
        <li>
          <div class="logo-small-box">
            <a href="https://www.cellcom.co.il/" target="_blank">
              <img src="images/logo_10.png" alt="logo" />
            </a>
          </div>
        </li>
        <li>
          <div class="logo-small-box">
            <a href="http://www.mako.co.il/" target="_blank">
              <img src="images/logo_09.png" alt="logo" />
            </a>
          </div>
        </li>
        <li>
          <div class="logo-small-box">
            <a href="http://www.tapuz.co.il/minisites/102fm/" target="_blank">
              <img src="images/logo_08.png" alt="logo" />
            </a>
          </div>
        </li>
        <li>
          <div class="logo-small-box">
            <a href="https://www.bank-yahav.co.il/" target="_blank">
              <img src="images/logo_07.png" alt="logo" />
            </a>
          </div>
        </li>
        <li>
          <div class="logo-small-box">
            <a href="http://www.negev-new.co.il/" target="_blank">
              <img src="images/logo_06.png" alt="logo" />
            </a>
          </div>
        </li>
        <li>
          <div class="logo-small-box">
            <a href="http://www.burgus.co.il/" target="_blank">
              <img src="images/logo_05.png" alt="logo" />
            </a>
          </div>
        </li>
        <li>
          <div class="logo-small-box">
            <a href="http://www.strauss-group.co.il/" target="_blank">
              <img src="images/logo_04.png" alt="logo" />
            </a>
          </div>
        </li>
        <li>
          <div class="logo-small-box">
            <a href="http://www.neviot.co.il/" target="_blank">
              <img src="images/logo_03.png" alt="logo" />
            </a>
          </div>
        </li>
        <li>
          <div class="logo-small-box">
            <a href="https://www.cal-online.co.il/he-IL/Cal/Pages/home.aspx" target="_blank">
              <img src="images/logo_02.png" alt="logo" />
            </a>
          </div>
        </li>
        <li>
          <div class="logo-small-box">
            <a href="http://www.azrieli.com/" target="_blank">
              <img src="images/logo_01.png" alt="logo" />
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- /logos -->
</section>
<!-- /main -->

<div class="modal fade" id="video-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <iframe id="iframe" width="560" height="315" src="https://www.youtube.com/embed/HieorPee6KM" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
