---
title: "שולחן לשניים | שאלות ותשובות"
---

        <section class="main">
            <div class="container-main clearfix">
                <aside class="sidebar">
                   <div class="sidebar-img">
                       <img src="images/sidebar_q&a_img.png" alt=""  />
                   </div>
                    <h2 class="title-blue">letraset sheets
                        <span>lorem Ipsum has been the</span>
                    </h2>
                    <p>It is a long established </p>
                    <div class="sidebar-btn">
                        <input class="btn" type="submit" value="ipsum" />
                    </div>
                </aside>
                <div class="contant">
                    <ul class="row">
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="box">
                                <figure class="box-img">
                                    <img src="images/q&a_01.png" alt="name" />
                                </figure>
                                <figcaption class="box-info">
                                    <h3>lorem ipsum dolor</h3>
                                    <p>It is a long established fact that a reader will </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="box">
                                <figure class="box-img">
                                    <img src="images/q&a_02.png" alt="name" />
                                </figure>
                                <figcaption class="box-info">
                                    <h3>lorem ipsum dolor</h3>
                                    <p>It is a long established fact that a reader will </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="box">
                                <figure class="box-img">
                                    <img src="images/q&a_03.png" alt="name" />
                                </figure>
                                <figcaption class="box-info">
                                    <h3>lorem ipsum dolor</h3>
                                    <p>It is a long established fact that a reader will </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="box">
                                <figure class="box-img">
                                    <img src="images/q&a_04.png" alt="name" />
                                </figure>
                                <figcaption class="box-info">
                                    <h3>lorem ipsum dolor</h3>
                                    <p>It is a long established fact that a reader will </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="box">
                                <figure class="box-img">
                                    <img src="images/q&a_05.png" alt="name" />
                                </figure>
                                <figcaption class="box-info">
                                    <h3>lorem ipsum dolor</h3>
                                    <p>It is a long established fact that a reader will </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="box">
                                <figure class="box-img">
                                    <img src="images/q&a_06.png" alt="name" />
                                </figure>
                                <figcaption class="box-info">
                                    <h3>lorem ipsum dolor</h3>
                                    <p>It is a long established fact that a reader will </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="box">
                                <figure class="box-img">
                                    <img src="images/q&a_07.png" alt="name" />
                                </figure>
                                <figcaption class="box-info">
                                    <h3>lorem ipsum dolor</h3>
                                    <p>It is a long established fact that a reader will </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="box">
                                <figure class="box-img">
                                    <img src="images/q&a_08.png" alt="name" />
                                </figure>
                                <figcaption class="box-info">
                                    <h3>lorem ipsum dolor</h3>
                                    <p>It is a long established fact that a reader will </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="box">
                                <figure class="box-img">
                                    <img src="images/q&a_09.png" alt="name" />
                                </figure>
                                <figcaption class="box-info">
                                    <h3>lorem ipsum dolor</h3>
                                    <p>It is a long established fact that a reader will </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="box">
                                <figure class="box-img">
                                    <img src="images/q&a_10.png" alt="name" />
                                </figure>
                                <figcaption class="box-info">
                                    <h3>lorem ipsum dolor</h3>
                                    <p>It is a long established fact that a reader will </p>
                                </figcaption>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 fly-in animated-content">
                            <div class="box">
                                <figure class="box-img">
                                    <img src="images/q&a_11.png" alt="name" />
                                </figure>
                                <figcaption class="box-info">
                                    <h3>lorem ipsum dolor</h3>
                                    <p>It is a long established fact that a reader will </p>
                                </figcaption>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
