---
title: "שולחן לשניים | שאלות ותשובות"
---

<section class="main">
  <div class="container-main clearfix">
    <aside class="sidebar">
      <div class="sidebar-img">
        <img src="images/sidebar_q&a_img.png" alt=""  />
      </div>
      <h2 class="title-blue">שאלות ותשובות...
        <!-- <span>lorem Ipsum has been the</span> -->
      </h2>
      <p>יש לך עוד שאלות?</p>
      <div class="sidebar-btn text-center">
        <input class="btn" type="submit" value="לחץ פה" />
      </div>
    </aside>
    <div class="contant">
      <ul class="row">
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <img src="images/q&a_01.png" alt="name" />
            </figure>
            <figcaption class="box-info">
            <h3>מתי כדאי להרשם וכמה זמן זה יקח?</h3>
            <p>עכשיו, 30 שניות. </p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <img src="images/q&a_02.png" alt="name" />
            </figure>
            <figcaption class="box-info">
            <h3>מתי אפשר להפסיק וכמה זמן זה לוקח?</h3>
            <p>כל רגע, 15 שניות. </p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <img src="images/q&a_03.png" alt="name" />
            </figure>
            <figcaption class="box-info">
            <h3>מהו חוסר ביטחון תזונתי?</h3>
            <p>בגדול, זה כשאנשים נאלצים לדלג על ארוחות, ולא מטעמי דיאטה.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <img src="images/q&a_04.png" alt="name" />
            </figure>
            <figcaption class="box-info">
            <h3>איך זה יראה בחשבון הבנק שלי?</h3>
            <p>כמו בדוגמא למעלה.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <img src="images/q&a_05.png" alt="name" />
            </figure>
            <figcaption class="box-info">
            <h3>האם סכום התרומה יכול להשתנות?</h3>
            <p>לא, אין מצב.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <img src="images/q&a_06.png" alt="name" />
            </figure>
            <figcaption class="box-info">
            <h3>למי תעבירו את המידע שלי וכמה פעמים תתקשרו לבקש עוד תרומות?</h3>
            <p>לאף אחד ואף פעם.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <img src="images/q&a_07.png" alt="name" />
            </figure>
            <figcaption class="box-info">
            <h3>אז כמה כסף אתם רוצים?</h3>
            <p>בכל פעם שאתה אוכל, אנחנו עוזרים לך לתרום שקל אחד לילד שזקוק לו.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <img src="images/q&a_08.png" alt="name" />
            </figure>
            <figcaption class="box-info">
            <h3>לאן הולך הכסף שנאסף?</h3>
            <p>לילדים שהכי צריכים את זה.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <img src="images/q&a_09.png" alt="name" />
            </figure>
            <figcaption class="box-info">
            <h3>האם כל הכסף ילך לתרומה? </h3>
            <p>כן. הכסף במלואו עובר ישירות לארגון לתת. כשמדובר במצווה, אין מקום לרווח או לעמלות.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <img src="images/q&a_10.png" alt="name" />
            </figure>
            <figcaption class="box-info">
            <h3>מאיפה ירד הכסף?</h3>
            <p>רק דרך כרטיס האשראי. אין אפשרות לחייב את הסכום דרך כרטיס ה״תן ביס״. לכן, בעת הצטרפות, יש צורך לקשר את כרטיס ה״תן ביס״ לכרטיס האשראי.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <img src="images/q&a_11.png" alt="name" />
            </figure>
            <figcaption class="box-info">
            <h3>ואם אני רוצה לדעת עוד?</h3>
            <p>נשמח לתת לך מידע נוסף בכתובת המייל shulchan4two@gmail.com ובאתר www.latet.org.il</p>
            </figcaption>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
