<!-- main -->
<section class="main">
  <div class="container-main clearfix">
    <div class="contant">
      <div class="container-small">
        <div class="row">
          <div class = "col text-center">
            <h3 style="font-size: 24px;">אנא הזמינו חברים, ביחד נעשה שינוי</h3>
          </div>
        </div>
      </div>
      <div class="container-small">
      <ul class="row">
        <li class="col-md-2 col-md-offset-3 text-center fly-in animated-content">
          <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.tablefortwo.org.il/&title=%D7%91%D7%9B%D7%9C%20%D7%94%D7%96%D7%9E%D7%A0%D7%AA%20%D7%90%D7%A8%D7%95%D7%97%D7%94%20%D7%A2%D7%9D%20%D7%AA%D7%9F%20%D7%91%D7%99%D7%A1%20%D7%AA%D7%95%D7%A8%D7%9E%D7%99%D7%9D%20%D7%A9%D7%A7%D7%9C%20%D7%9C%D7%99%D7%9C%D7%93%20%D7%A9%D7%96%D7%A7%D7%95%D7%A7%20%D7%9C%D7%90%D7%A8%D7%95%D7%97%D7%94&summary=&source=">
            <img alt="share on in" src="/images/social-icons-10.png">
          </a>
        </li>
        <li class="col-md-2 text-center fly-in animated-content">
          <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.tablefortwo.org.il/">
            <img alt="share on fb" src="/images/social-icons-09.png">
          </a>
        </li>
        <li class="col-md-2 text-center fly-in animated-content">
          <a href="mailto:?&subject=בכל הזמנת ארוחה עם תן ביס תורמים שקל לילד שזקוק לארוחה&body=%D7%A0%D7%99%D7%AA%D7%9F%20%D7%9C%D7%A7%D7%91%D7%9C%20%D7%9E%D7%99%D7%93%D7%A2%20%D7%A0%D7%95%D7%A1%D7%A3%20%D7%91%D7%9C%D7%99%D7%A0%D7%A7%20%D7%94%D7%91%D7%90%3A%0Ahttps%3A//www.tablefortwo.org.il/">
            <img alt="share via mail" src="/images/social-icons-13.png">
          </a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</section>


<!-- <%= partial "video" %> -->
